html{
  background-color: #d6f8ff;
  text-align: center;
  font-size: 1.4em;
  text-decoration: none;
  padding: 20px;
}


.charityInfo{
  text-align: center;
  font-size: 1.3em;
}

.navBar{
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  font-size: 1em;
  border-bottom: solid #a19cc9 ;
}

#logoBtn{
  width: fit-content;
  height: 200px;
}


.navBar a {
  color: #46237a;
  text-decoration: none;
}