$babyBlue: #73d7ee;
$pink: #F5A9B8;
$red: #f86b86;
$orange: #ffd6a5ff;
$yellow: #fdffb6ff;
$green: #caffbfff;
$blue: #a0c4ffff;
$purple: #bdb2ffff;
$brown: #613915;


$QueerBlue: #99d9ea;
$QueerDarkBlue: #00a2e8;
$QueerGreen: #b5e61d;
$white: #FFFFFF;
$QueerOrange: #ffc90e;
$QueerRed: #fd6666;
$QueerPink: #ffaec9;
$black: #000;

$colors: $black, $QueerBlue, $QueerDarkBlue, $QueerGreen, $white, $QueerOrange, $QueerRed, $QueerPink, $black;


@mixin queer-title($text) {
  $length: length($colors);
  

@for $i from 3 through $length {
    //SCSS uses 1 indexing
    @debug "Value of $i: #{$i}";
    &:nth-child(#{$i}) {
      color: nth($colors, $i);
    }
  }


.intro{
display: inline-block;
@include queer-title(attr(data-text));
font-weight: bolder;
}
}


html{
  background-color:$blue;
  text-align: center;
  font-size: 1.4em;
  text-decoration: none;
  padding: 50px;
  margin-top: 50px;
}
#root{
   background-color:$blue;
}



.btn-primary{
  background-color: pink;
  font-weight: bold;
  border-radius: 15px;
}

.homeDescription{
  padding: 90px;
}

.homeLogo{
  height: 500px;
}


.charityInfo{
  text-align: center;
  font-size: 1.3em;
}

.charityName{
  font-weight: bolder;
  font-size: 2em;
  padding: 4%;
}

.mission{
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0 2%;
}

.chatButton{
  background-color: #FF6AB1;
  color: $white;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 15px;
  padding: 0 10px;
}

.survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .select{

  }
  .form-control{
    margin-top: -1%;
    font-size: 1.4em;
    color: $white;
    font-weight: bolder;
    background-color: $pink;
    border-radius: 100px;
    width: 50%;
          
  }
}

#logoBtn{
  width: fit-content;
  height: 90%;
}

.checkoutform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $purple;
  border-radius: 100px;
  width: 35%;
  height: fit-content;
  margin-left: 35%;
  font-weight: bolder;
  color: $yellow;
  font-size: 1.4em;
  margin-top: 100px;
  padding: 3%;
}

.form-control{
 background-color: $green;
 width: 75%;
 text-align: center;
 font-weight: bold;
 display: block;
 border-radius: 40px;
 margin: 0 auto; 
 font-size: 1.2em;
 padding: 3%;
 color: $brown;
      .placeholder{
        color: $brown;
      }

}

.CardInfo{
  background-color: $yellow;
 padding-top: 2%;
  margin-top: 2% ;
  border-radius: 200px;
  color: $brown;
  font-size: 1.3em;
  font-weight: bold;
      .form-control{
        margin-top: -1%;
        font-size: 1.4em;
        color: $white;
        font-weight: bolder;
        background-color: $pink;
        border-radius: 100px;
        width: 50%;
              .placeholder{
                color: $white;
                font-weight: bold;
              }
        
      }
      .btn-primary {
        border-radius: 50px;
        padding: 15px;
        background-color: $babyBlue;
        color: $white;
        margin-bottom: 20px;
      }

}
.Responsibilities{
  padding-top: 30px;
}

.flex{
  margin-top: 3%;
        display: flex;
        flex-direction: row;
        // margin-top: 15%;        
  .location{
    height: 1000px;
    width: 100%;      
    right: 3px;
  }

  .calenderDiv{
    width: 900px;
    height: 500px;
    margin-bottom: 30px;
    .fc-event-title-container{
      font-size: .9em;
      font-weight: bold;
      text-align: center;
      color: black;
      background-color: #aef1b6;
      text-align: center;
      white-space: normal;
    }

    .fc-button{
      background-color: $pink;
      border-radius: 15px;
      
    }

    .fc-toolbar-title{
      color: $purple;
      padding: 10px;
      font-size: 1.6em;
      text-align: center;
    }

    .fc-header-toolbar{
      background-color: $black;
      padding: 5%;
      border-radius: 300px;
      width: 550px;
      height: 210px;
      margin-left: 20%;

    }

    .fc-today-button.fc-button{
      position: absolute;
      left: 630px;
      :active{
          background-color: $pink;
      }
      color: white;     
      background-color: $QueerPink
      
    }
    .fc-day{
      background-color: #aba0ff;
        }
    .fc-col-header-cell-cushion{
      color: #f4ffa0;
      text-decoration: none;
      font-size: 1.3em;
    }
    .fc-day-today { //contnrols the day
      background-color: $babyBlue;
      border: 1px solid black;
      }


    .fc-daygrid-day-number{
      color: #003c07;
      text-decoration: none;
      padding: 10px;
      font-weight: bold;
    }

    
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 100;
  
    .popup-content {
      background-color: $QueerBlue;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      z-index: 1000; /* Ensure the popup is on top of other content */
      position: relative;
  
      .title{
        font-weight: bolder;
      }
      label {
        display: block;
        margin-bottom: 5px;
        font-size: 1.4em;
        font-weight: bold;
      }
  
      input {
        text-align: center;
        width: 80%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .description{
          height: 150px;
          text-align: center;
          white-space: normal;

      }

      .button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
  
        .save-button, .cancel-button {
          margin-left: 10px;
          flex: 1;
          background-color: $pink;
          color: $white;
          padding: 5px 0px;
          border-radius: 30px;
          width: 20px;
        }
       
      }
    }
  }
  

//The current days colorr #a0ffda
    //transparentize 
}

.SignInForm {
  margin-top: 2%;      
  border-radius: 100px;

  .Title {
    margin-top: 4%;
    font-size: 2em;
    font-weight: bold;
  }

  .formLabel {
    font-weight: bold;
    font-size: 1.2em;
  }

  .form-control {
    border-radius: 100px;
    border: none;
  }

  .showPassword {
    padding-right: 10px;
  }

  .input-group {
    border-radius: 100px;
    position: relative; /* Needed for positioning the eye icon */
  }

  .icon-eye {
    /* Position the eye icon */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  //SignInForm subbtn
  .btn-primary{
    background-color: black;
    color: #aef1b6;
  }
}



.dropdown{
  text-align: center;
}

.navBar{
  background-color: $orange;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 10px;
  padding: 3px;
  height: 10%;
  margin-bottom: 50px;
  z-index: 100;
  a {
  color: $brown;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.1em;
    .signOut{
      border-radius: 30px;
      font-size: 1em;
      font-weight: bold;
      padding-top: 0px;
    }
}

}
