$babyBlue: #73d7ee;
$pink: #FFAFc7;
$orange: #FF8D00;
$yellow: #FFEE00;
$green: #028121;
$blue:  #004cff;
$purple: #760088;
$white: #FFFFFF;
$brown: #613915;
$black: #000;
//#D7CEB2 NAv bar
//#BF8B85 burnt sand
html{
  background-color: #D4CDC3;
  text-align: center;
  font-size: 1.4em;
  text-decoration: none;
  padding: 20px;
}

div{
  background-color: #6B764C;
  color: #FFD77D;
}

.form-control{
  background-color: #FFD77D;
}

.charityInfo{
  text-align: center;
  font-size: 1.3em;
}

.navBar{
  background-color: #D7CEB2;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  font-size: 1em;
  border-bottom: solid ;
}

#logoBtn{
  width: fit-content;
  height: 200px;
}


.navBar a {
  color: $brown;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5em;
}