

$babyBlue: #73d7ee;
$pink: #FFAFc7;
$red: #f86b86;
$orange: #ffd6a5ff;
$yellow: #fdffb6ff;
$green: #caffbfff;
$blue: #a0c4ffff;
$purple: #bdb2ffff;
$white: #FFFFFF;
$brown: #613915;
$black: #000;


//#D7CEB2 NAv bar
//#BF8B85 burnt sand
html{
  background-color:$blue;
  text-align: center;
  font-size: 1.4em;
  text-decoration: none;
  padding: 50px;
  margin: 50px;
}
#root{
   background-color:$blue;
}

.checkoutform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $purple;
  color: $white;
  border-radius: 100px;
  width: 40%;
  height: fit-content;
  margin-left: 30%;
  font-weight: bolder;
  color: $yellow;
  font-size: 1.3em;
  margin-top: 200px;
  padding: 10px;
}

.form-control{
 background-color: $green;
 color: $brown;
 width: 80%;
 text-align: center;
 font-weight: bold;
 padding-top: 10px;
 display: block;
 border-radius: 20px;
 margin: 0 auto; 
font-size: 1.2em;

}


.btn-primary{
  background-color: pink;
  font-weight: bold;
  border-radius: 15px;
}

.homeDescription{
  padding: 90px;
}

.homeLogo{
  height: 500px;
}

.intro{
  font-weight: bolder;
}

.charityInfo{
  text-align: center;
  font-size: 1.3em;
}
.charityName{
  font-weight: bolder;
  font-size: 2em;
  padding: 50px;
}

.mission{
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 5px 40pc;
}

.chatButton{
  background-color: $orange;
  font-size: 1.2em;
  font-weight: bolder;
  border-radius: 15px;
}


.navBar{
  background-color: $red;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 10px;
  padding: 3px;
  height: 10%;
  margin-bottom: 50px;
}

#logoBtn{
  width: fit-content;
  height: 90%;
}


.navBar a {
  color: $brown;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.1em;
}